@import "./../../variables";

.Aside {
  grid-row: 1 / -1;
  grid-column: 3 / 4;
  background-color: var(--color-grey-light);
  border: 2.5px solid #eee;

  z-index: 2;
  position: fixed;
  right: 0;
  top: 0;
  width: 25rem;

  @media only screen and (max-width: $bp-largest) {
    width: 15rem;
  }

  @media only screen and (max-width: $bp-verysmall) {
    right: -100%;
  }
}

.Order {
  height: 100vh;
  overflow: auto;

  &__heading {
    text-align: center;
  }
  &__lists {
    padding: 1rem;
    display: grid;
    margin-bottom: 10rem;
    grid-row-gap: 0.8rem;
    &-item {
      display: grid;
      grid-template-columns: 13rem 1fr;
      align-items: center;
      padding-bottom: 0.6rem;

      &:not(:last-child) {
        border-bottom: 1px solid #e7e7e7;
      }

      @media only screen and (max-width: $bp-largest) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &__Menu {
    h3 {
      font-size: 1rem;
      color: #585858;
      font-weight: 500;

      @media only screen and (max-width: $bp-largest) {
        font-size: 0.5rem;
      }
    }
    p {
      font-size: 0.8rem;
      color: #848484;

      @media only screen and (max-width: $bp-largest) {
        font-size: 0.6rem;
      }
    }
    button {
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;
      color: var(--color-primary);

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
    }
  }

  &__Action {
    justify-self: end;

    display: flex;
    grid-template-columns: max-content max-content max-content;
    grid-column-gap: 0.6rem;
    align-items: center;

    button {
      border: none;
      outline: none;
      background-color: var(--color-primary);
      padding: 0.4rem 0.8rem;
      color: #fff;
      font-weight: 800;
      border-radius: 2px;
    }

    span {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  &__totals {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 2px 2px 2px rgba(#ddd, 0.9);

    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    button {
      display: block;
      width: 100%;
      outline: none;
      border: none;
      padding: 1rem;
      background-color: var(--color-primary);
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      transition: all ease-out 0.5s;
      border-radius: 3px;

      &:focus {
        transform: scale(0.9);
      }

      &:disabled {
        background-color: var(--color-grey-dark-4);
      }
    }
  }
}
