.Layout {
  display: grid;
  grid-template-rows: 4rem minmax(100vh, min-content);
  grid-template-columns: minmax(20rem, min-content) minmax(40rem, 1fr) minmax(
      25rem,
      min-content
    );
}

.Main {
  grid-row: 2 / -1;
  grid-column: 2 / 3;
}
