@import "./../../variables";

.Menu {
  padding: 1rem;

  &__action {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &_btn_loadmore{
    background-color: var(--color-primary);
    outline: none;
    border: none;
    padding: .7rem 2rem .7rem 2rem;
    color: #fff;
    font-weight: 700;
    border-radius: 1rem;
    cursor: pointer;
  }

  &__heading {
    display: grid;
    grid-template-columns: max-content 1fr;

    @media only screen and (max-width: $bp-verysmall) {
      display: block;
    }

    h1 {
      font-size: 3.4rem;
      color: var(--color-grey-dark-4);
    }

    input {
      justify-self: end;
      align-self: center;

      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      border-radius: 0.4rem;
      background-color: var(--color-grey-dark-1);

      &::-webkit-input-placeholder {
        /* Edge */
        color: var(--color-grey-dark-4);
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--color-grey-dark-4);
      }

      &::placeholder {
        color: var(--color-grey-dark-4);
      }

      @media only screen and (max-width: $bp-verysmall) {
        margin-bottom: 1rem;
        width: 100%;
      }
    }
  }

  &__categorys {
    list-style: none;

    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content max-content;
    grid-auto-columns: max-content;
    grid-column-gap: 0.4rem;

    &-btn {
      padding: 0.4rem 2rem;
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;
      border-radius: 0.6rem;
      font-family: var(-font-display);

      &-active {
        background-color: var(--color-primary);
        color: #fff;
      }
    }
  }

  &__results_search {
    & > h2 {
      color: var(--color-text-grey);
    }
    & > h3 {
      color: var(--color-text-grey);
    }
  }

  &__lists {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13.6rem, 10.6rem));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: repeat(auto-fit, minmax(5.6rem, 1fr));
    }

    @media only screen and (max-width: $bp-verysmall) {
      grid-template-columns: repeat(auto-fit, minmax(11.5rem, 10.6rem));
      margin-bottom: 6rem;
    }

    &-item {
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 1px 2px 1px rgba(#ddd, 0.5);

      &-img {
        width: 100%;
        height: 11.5rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        @media only screen and (max-width: $bp-small) {
          height: 5.5rem;
        }
      }

      &-info {
        padding: 0.3rem 1rem;

        display: grid;
        grid-template-columns: max-content 1fr;

        @media only screen and (max-width: $bp-small) {
          padding: 0.3rem 0.5rem;
          grid-template-columns: 1fr;
        }

        button {
          justify-self: end;
          align-self: center;
          border: none;
          outline: none;
          background-color: #ddd;
          padding: 0.4rem 0.7rem;
          font-weight: 800;
          border-radius: 0.4rem;
          cursor: pointer;
          transition: all ease-out 0.4s;

          &:hover {
            background-color: var(--color-primary);
            color: #fff;
          }

          &:focus {
            transform: scale(0.9);
            -webkit-transform: scale(0.9);
          }

          @media only screen and (max-width: $bp-small) {
            display: none;
          }
        }
      }
    }
  }
}
