@import "./variables";

:root {
  --color-primary: #376859;
  --color-grey-light: #f8f8f8;
  --color-grey-light-1: #f3f3f3;
  --color-grey-dark-1: #d4d4d4;
  --color-grey-dark-2: #b5b2b2;
  --color-grey-dark-3: #c2c6c4;
  --color-grey-dark-4: #888585;

  --color-text-grey: #7a8a87;

  --font-display: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 62.5%;
  background-color: #f1f3f3;

  @media only screen and (max-width: $bp-largest) {
    font-size: 45%;
  }
}

.mb-small {
  margin-bottom: 1rem;
}
.mb-medium {
  margin-bottom: 2rem;
}
.mb-large {
  margin-bottom: 3rem;
}
.mb-huge {
  margin-top: 3.5rem;
}

.Loader {
  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
